body{
    padding: 0;
    margin: 0;
}
.topnav{
    background-color: rgb(107, 144, 230);
    padding: 14px 16px;
    text-align: center;
}
.topnav a{
    text-align: center;
	color: white;
	font-size: 40px;
	text-decoration: none;
	padding: 5px;
}
.language {
    margin-top: 40px;
    font-weight: bold;
}
.container{
    width:100%;
    display:flex;  /* for display it's child div beside each other */
}
.first-div,.second-div{
    width:50%;    /* for divide container into 2 equal divs  */
}
.upload {
    padding: 15px;
    margin: 10px;
}

.take-photo{
    padding: 10px;
}
#click-photo{
    padding: 5px;
}
#start-camera{
    padding: 5px;
}
#upload-photo-btn{
    padding: 5px;
}

#preview-img{
    display: none;
}
button {
    background-color: rgb(107, 144, 230);
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }

  #video{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    background-color: dimgray;
  }

  #canvas{
    position: absolute;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg);
  }

